@{
    ViewData["Title"] = "Contacto";
}
<h2>@ViewData["Title"]</h2>
<!--<h3>@ViewData["Message"]</h3>-->

<h3> Formulario de contacto en construcción</h3>

<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13136.227229923585!2d-58.372357!3d-34.60272500000001!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccacd2f5975a3%3A0x5f54cc0cb27b6ba!2spiso+3%2C+Reconquista+439%2C+C1003ABI+CABA%2C+Argentina!5e0!3m2!1ses!2sus!4v1534292442530" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>

<address>
    Reconquista 439 piso 3° <br />
    Ciudad de Buenos Aires<br />
    <abbr title="Phone">P:</abbr>
    (54) 11 4508.6001
</address>

<address>
    <strong>Support:</strong> <a href="mailto:info@ymcaqualitygolf.com.ar">info@ymcaqualitygolf.com.ar</a><br />
    
</address>
